*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content{
    width: 550px;
    position: absolute;
    top: 100px;
    margin: 10px 10px 0 10px;
    font-family: 'Poppins';
}
.lbl-subtotal{
    font-size: 1.7em;
    font-weight: 600;

}
.box-proceder-pago{
    width: 100%;
    height: 80px;
    background-color: rgb(247,231,8);
    font-size: 1.4em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.box-producto{
    margin-top: 30px;
    display: grid;
    grid-template: "derecha izquierda"/
                        5fr    6fr;
}
.box-img{
    grid-area: derecha;
    padding-right: 25px;
}
.info{
    grid-area: izquierda;
}
.book-autor{
    padding-top: 40px;
    font-size: 1.4em;
}
.book-description{
    font-size: 1.6em;
    font-weight: 500;
}
.book-title{
    font-size: 1.8em;
}
.txt-precio-unidad{
    padding-top: 40px;
    font-size: 1.4em;
}
.precio-unidad{
    font-size: 1.8em;
    font-weight: 700;
}
.box-minus-plus{
    display:flex;
    flex-direction: row;
    border: 1px solid rgb(48,48,48);
    border-radius: 20px;
    font-size: 1.2em;
    width: 210px;
    font-weight: 600;
}
.box-unidades{
    border-left: 1px solid rgb(48,48,48);
}
.box-minus, .box-unidades, .box-plus{
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(24,24,24);
}
.box-minus,.box-plus{
    background-color: rgb(200,200,200);
}
.box-minus{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.box-plus{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-img-ipad-mini{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-ipad-mini{
    width: 713px;
}
